# Code owners for this repository.
# Source of truth: https://photobucket.atlassian.net/wiki/spaces/WEB/pages/5174689800/GitHub+repositories+ownership+and+teams+structure
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @Photobucket/composition
